/static_files/pokecrystal11.gbc
/static_files/pokecrystal11.rtc
/static_files/pokecrystal11.sav
/output
/working
/.idea
/bgb.exe - Shortcut.lnk
/manim/media/
/errors/
/battles/
/mosaic/
/showdown_omega_batch_1.bin/
/showdown_omega_batch_3.bin/
/showdown_omega_batch_4.bin/
/showdown_omega_batch_5.bin/
/trainer_cards/win_records/
/trainer_cards/pokemon_sprites/
/trainer_cards/pngs-cropped/
/trainer_cards/pngs/
/trainer_cards/item_sprites/
/validation_movies/
/servers.xlsx
/~$servers.xlsx
/mosaic_red/
